button {
  border: none;
  background: transparent;
  cursor: pointer;

  &:focus {
    // outline: none;
  }
}

.btn {
  background-color: $orange;
  padding: 20px 25px;
  font-size: 20px;
  color: $white;

  @include tablets {
    padding: 18px 25px;
    font-size: 14px;
  }

  &:hover {
    background-color: #000;
  }
}

.btn--bordered {
  background-color: transparent;
  border: 1px solid $orange;
  color: $orange;


  &:hover {
    background-color: $orange;
    color: $white;
  }

}


.btn-arrow {
  width: 14px;
  height: 14px;
  fill: $white;
}
