<section class="contacts">
  <div class="container">
    <h2 class="contacts__title">
      Contact Us
    </h2>

    <div class="contacts__row">
      <div class="contacts__col">

        <div class="contacts__socials socials">
          <ul class="socials__list">
            <li class="socials__item">
              <a href="#" target="blank" class="socials__link" title="Telegram">Telegram
              </a>
            </li>
            <li class="socials__item">
              <a href="#" target="blank" class="socials__link" title="Twitter">Twitter
              </a>
            </li>
            <li class="socials__item">
              <a href="#" target="blank" class="socials__link" title="Email">Email
              </a>
            </li>
          </ul>
        </div>

      </div>
      <div class="contacts__col">


        <div class="contacts__form form">

          <form action="#" class="form__elem">
            <div class="form__row">
              <input type="text" class="form__input" placeholder="Your Name" name="username">
            </div>

            <div class="form__row">
              <input type="email" class="form__input" placeholder="Your Email" name="email">
            </div>

            <div class="form__row">
              <textarea class="form__input form__input--textarea" placeholder="Your message"></textarea>
            </div>


            <div class="form__row">
              <div class="form__buttons">
                <button class="btn form__btn" type="submit">


                    <span>Send</span>
                    <svg class="hero__btn-arrow">
                      <use xlink:href="images/icons/sprite.svg#arrow-btn"></use>
                    </svg>
                  </button>
              </div>
            </div>
          </form>

        </div>


      </div>
    </div>
  </div>
</section>
