<section class="hero">
  <div class="container">
    <div class="hero__title">
      Fueling<br>The Future
    </div>
    <div class="hero__desc">
      OilSupply is a new crypto-consultancy platform promoting tokenized oils backed by
      real
      commodity spot prices
    </div>
    <a href="#" class="btn hero__btn">
      <span>Get started</span>
      <svg class="hero__btn-arrow">
        <use xlink:href="images/icons/sprite.svg#arrow-btn"></use>
      </svg>
    </a>

    <div class="hero__img"></div>
  </div>
</section>
