<section class="mission" id="mission">
  <div class="container">
    <h2 class="mission__title">Our missions</h2>

    <div class="mission__info">
      <div class="mission__elem">
        <div class="mission__info-pic">
          <img src="images/coin.png" class="mission__info-img" alt=" mobile" width="420" height="530">
        </div>
      </div>

      <div class="mission__elem">
        <p>The development of blockchain technologies and the dynamic growth of the cryptocurrency market led to the
          emergence of new investment instruments and are gradually changing the traditional economy.</p>
        <p>Under these conditions, it is difficult for individual investors with limited market knowledge to ensure the
          sustainable profitability of their assets. Successful capital participation requires professional portfolio
          diversification and constant expert control, which is more efficiently performed by a team of interested
          specialists</p>
      </div>

    </div>

    <div class="mission__map">
      <div class="mission__map-top">
        <div class="mission__map-pic">
          <img src="images/map.png" class="mission__map-img" alt=" mobile" width="1200" height="479">
        </div>
      </div>
      <div class="mission__map-bottom">
        <div class="mission__map-info">
          <p>The advent of new financial instruments and the rapid rise of the cryptocurrency market have led to the
            development of blockchain technologies, which are gradually transforming the traditional economy.</p>
          <p>
            Individual investors with insufficient market understanding will find it challenging to ensure the long-term
            viability of their assets under these conditions. Professional portfolio diversification and constant expert
            control are required for successful capital involvement, which is more efficiently conducted by a group of
            motivated specialists.</p>
        </div>
      </div>
    </div>

    <!--  -->

        <div class="mission__info mission__info--reverse">
          <div class="mission__elem">
            <div class="mission__elem-text">
              <p>OilSupply was established to take care of this issue. It gives investors the chance to put resources
                into the measure of promising and fluid digital currencies, whose general presentation is continually
                checked by all individuals from the list reserve. Simultaneously, master control will build productivity
                and diminish hazards.
  </p>
            </div>
          </div>

          <div class="mission__elem">

            <div class="mission__info-pic2">
              <img src="images/mol.png" class="mission__info-img" alt="" width="600" height="530">
            </div>

          </div>

        </div>
        <!--  -->
  </div>
</section>
