<footer class="footer">
  <div class="container">
    <div class="footer__copy">Copyright OilSupply Ltd 2021. All Rights Reserved.</div>
    <a href="#" class="footer__link politics__link">Confidentiality policy</a>
  </div>
</footer>
<div class="modal" id="modal-politics">

  <div class="modal__content">
    <div class="modal__close">
      <img src="images/close-icon.svg" alt="close button">
    </div>

    <div class="modal__info">
      <div class="politics">
        <h2 class="politics__title">Politique de cookies</h2>
        <div class="politics__text">
          <h3>Подзаголовок</h3>
          <p>Décuplez l’engagement et augmentez votre capital
            humain grâce à une combinaison de plus de 1 700 facteurs.
            Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1 700
            facteurs.
            Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1 700
            facteurs.
            Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1 700
            facteurs.
            Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1 700
            facteurs.
            Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1 700
            facteurs.</p>

          <p>
            Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1 700
            facteurs.
            Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1 700
            facteurs.
            Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1 700
            facteurs.Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1 700
            facteurs. Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1
            700
            facteurs. Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1
            700
            facteurs.Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1 700
            facteurs. Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1
            700
            facteurs. Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1
            700
            facteurs.</p>
          <h3>Подзаголовок</h3>
          <p>Décuplez l’engagement et augmentez votre capital
            humain grâce à une combinaison de plus de 1 700 facteurs.
            Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1 700
            facteurs.
            Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1 700
            facteurs.
            Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1 700
            facteurs.
            Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1 700
            facteurs.
            Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1 700
            facteurs.</p>

          <p>
            Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1 700
            facteurs.
            Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1 700
            facteurs.
            Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1 700
            facteurs.Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1 700
            facteurs. Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1
            700
            facteurs. Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1
            700
            facteurs.Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1 700
            facteurs. Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1
            700
            facteurs. Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1
            700
            facteurs.</p>
          <h3>Подзаголовок</h3>
          <p>Décuplez l’engagement et augmentez votre capital
            humain grâce à une combinaison de plus de 1 700 facteurs.
            Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1 700
            facteurs.
            Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1 700
            facteurs.
            Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1 700
            facteurs.
            Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1 700
            facteurs.
            Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1 700
            facteurs.
          </p>

          <p>
            Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1 700
            facteurs.
            Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1 700
            facteurs.
            Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1 700
            facteurs.Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1 700
            facteurs. Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1
            700
            facteurs. Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1
            700
            facteurs.Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1 700
            facteurs. Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1
            700
            facteurs. Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1
            700
            facteurs.</p>
          <h3>Подзаголовок</h3>
          <p>Décuplez l’engagement et augmentez votre capital
            humain grâce à une combinaison de plus de 1 700 facteurs.
            Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1 700
            facteurs.
            Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1 700
            facteurs.
            Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1 700
            facteurs.
            Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1 700
            facteurs.
            Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1 700
            facteurs.
          </p>

          <p>
            Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1 700
            facteurs.
            Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1 700
            facteurs.
            Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1 700
            facteurs.Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1 700
            facteurs. Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1
            700
            facteurs. Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1
            700
            facteurs.Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1 700
            facteurs. Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1
            700
            facteurs. Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1
            700
            facteurs.</p>
          <h3>Подзаголовок</h3>
          <p>Décuplez l’engagement et augmentez votre capital
            humain grâce à une combinaison de plus de 1 700 facteurs.
            Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1 700
            facteurs.
            Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1 700
            facteurs.
            Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1 700
            facteurs.
            Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1 700
            facteurs.
            Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1 700
            facteurs.</p>

          <p>
            Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1 700
            facteurs.
            Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1 700
            facteurs.
            Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1 700
            facteurs.Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1
            700
            facteurs. Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1
            700
            facteurs. Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1
            700
            facteurs.Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1
            700
            facteurs. Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1
            700
            facteurs. Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1
            700
            facteurs.</p>
          <h3>Подзаголовок</h3>
          <p>Décuplez l’engagement et augmentez votre capital
            humain grâce à une combinaison de plus de 1 700 facteurs.
            Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1 700
            facteurs.
            Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1 700
            facteurs.
            Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1 700
            facteurs.
            Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1 700
            facteurs.
            Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1 700
            facteurs.</p>

          <p>
            Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1 700
            facteurs.
            Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1 700
            facteurs.
            Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1 700
            facteurs.Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1
            700
            facteurs. Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1
            700
            facteurs. Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1
            700
            facteurs.Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1
            700
            facteurs. Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1
            700
            facteurs. Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1
            700
            facteurs.</p>
          <h3>Подзаголовок</h3>
          <p>Décuplez l’engagement et augmentez votre capital
            humain grâce à une combinaison de plus de 1 700 facteurs.
            Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1 700
            facteurs.
            Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1 700
            facteurs.
            Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1 700
            facteurs.
            Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1 700
            facteurs.
            Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1 700
            facteurs.</p>

          <p>
            Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1 700
            facteurs.
            Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1 700
            facteurs.
            Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1 700
            facteurs.Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1
            700
            facteurs. Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1
            700
            facteurs. Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1
            700
            facteurs.Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1
            700
            facteurs. Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1
            700
            facteurs. Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1
            700
            facteurs.</p>
          <h3>Подзаголовок</h3>
          <p>Décuplez l’engagement et augmentez votre capital
            humain grâce à une combinaison de plus de 1 700 facteurs.
            Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1 700
            facteurs.
            Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1 700
            facteurs.
            Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1 700
            facteurs.
            Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1 700
            facteurs.
            Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1 700
            facteurs.</p>

          <p>
            Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1 700
            facteurs.
            Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1 700
            facteurs.
            Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1 700
            facteurs.Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1
            700
            facteurs. Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1
            700
            facteurs. Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1
            700
            facteurs.Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1
            700
            facteurs. Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1
            700
            facteurs. Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1
            700
            facteurs.</p>
          <h3>Подзаголовок</h3>
          <p>Décuplez l’engagement et augmentez votre capital
            humain grâce à une combinaison de plus de 1 700 facteurs.
            Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1 700
            facteurs.
            Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1 700
            facteurs.
            Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1 700
            facteurs.
            Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1 700
            facteurs.
            Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1 700
            facteurs.</p>

          <p>
            Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1 700
            facteurs.
            Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1 700
            facteurs.
            Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1 700
            facteurs.Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1
            700
            facteurs. Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1
            700
            facteurs. Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1
            700
            facteurs.Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1
            700
            facteurs. Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1
            700
            facteurs. Décuplez l’engagement et augmentez votre capital humain grâce à une combinaison de plus de 1
            700
            facteurs.</p>
        </div>

      </div>


    </div>
  </div>
</div>
