<header class="header">
  <div class="container">
    <!-- logo -->
    <div class="logo">
      <a href="index.html" class="logo__link">
        <img src="images/logo.svg" alt="OILSupply" class="logo__img" width="181" height="24">
      </a>
    </div>

    <!-- menu -->
    <nav class="menu">

      <button class="menu__toggle">
        скрыть меню
        <span></span>
      </button>

      <div class="menu__dropdown">
        <ul class="menu__list">
          <li class="menu__item">
            <!--  -->
            <a href="#" class="menu__link">About Us</a>
          </li>
          <li class="menu__item">
            <a href="#" class="menu__link">Our Tokens Us</a>
          </li>
          <li class="menu__item menu__item--active">
            <a href="#" class="menu__link">Roadmap</a>
          </li>
          <li class="menu__item">
            <a href="#" class="menu__link">Our Team</a>
          </li>
          <li class="menu__item">
            <a href="#" class="menu__link">Our Mission</a>
          </li>
          <li class="menu__item">
            <a href="#" class="menu__link">Partners</a>
          </li>
          <li class="menu__item">
            <a href="#" class="menu__link">FAQ</a>
          </li>
          <li class="menu__item">
            <a href="#" class="menu__link">Contact</a>
          </li>
        </ul>


      </div>

    </nav>





  </div>
</header>

